<h1 class="about">About</h1>
<p class="about body">Hi! Thanks for stopping by my SF Adventures page! Ever since I moved to San Francisco, I've been hearing about so many incredible activities and sites in the Bay Area, that I couldn't keep track! This is a collection of SF Adventures that I have either experienced, or need to put on the calendar soon! If you have additions, please click on the NEW ADVENTURE button and contribute! <br>-Lindsay</p>
