<h1>Bio</h1>
<p>Hi! Thanks for stopping by my SF Adventures page! Ever since I moved to San Francisco, I've been hear abouting so many incredible activities and sites in the Bay Area, that I couldn't keep track! This is a collection of SF Adventures that I have either experienced, or need to put on the calendar soon! If you have additions, please shoot me an email at lindsaysj@github.com. Now go out and explore!</p>
  
